
<!-- <% @heros.each do |hero| %>

  <div class="col-md-3">
    <%=hero.name%>
    <br>
    <%=hero.profile%>
  </div>


<% end %> -->
<section id="pinBoot">
  <% @heros.each do |hero| %>
  <article class="white-panel">
    <%=link_to hero_path(hero) do %>
    <%=image_tag(hero.image.thumb.url,class:"thumbnail")%>
    <% end %>
    <h4>
      <%=link_to(hero.name,hero_path(hero))%>
    </h4>
    <%=hero.profile%>
  </article>
  <% end %>



</section>
