<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>水浒英雄册</a>
    </div>
    <div class="collapse navbar-collapse" id="my_navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li><%=link_to('注册',new_user_registration_path)%></li>
          <li><%=link_to(content_tag(:i,'登录',class:'fa fa-sign-in'),new_user_session_path)%></li>
        <%else%>
          <li class="dropdown">
            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
              Hi,<%=current_user.email%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%=link_to('管理员界面',admin_heros_path)%></li>
              <% end %>
              <li><%=link_to(content_tag(:i,'退出',class:'fa fa-sign-out'),destroy_user_session_path,method: :delete)%></li>
            </ul>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
